@page
@model Downloads.Pages_Cars.IndexModel

@{
    ViewData["Title"] = "Cars";
}

<h1 style="padding-top:20px;">Cars</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarGrade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car[0].CarPicURL)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Car) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CarName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarGrade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CarPicURL)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.CarID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.CarID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.CarID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
