@page
@model Downloads.Pages_Cars.IndexModel 

@{
    ViewData["Title"] = "Cars";
}

<h1 style="padding-top:20px;">Cars Shop</h1>

<p>
    <a asp-page="Create">Add New Car</a>
</p>

<div class="cars-container">
    @foreach (var car in Model.Car)
    {
        <div class="car-card">
            <div class="FatImageCentre">
                <img src="@car.CarPicURL" alt="Car Image" class="@car.CarModel Image"/>
            </div>
            <div class="car-info">
                <h2>@Html.DisplayFor(modelItem => car.CarName)</h2>
                <h2>@Html.DisplayFor(modelItem => car.CarModel)</h2>
                <p>Year: @Html.DisplayFor(modelItem => car.CarYear)</p>
                <p>Grade: @Html.DisplayFor(modelItem => car.CarGrade)</p>
                <h2>£ @Html.DisplayFor(modelItem => car.CarCost)</h2> <br>
                <div style="text-align: center;"> 
                    <button class="buy-btn" onclick="location.href='/Marketplace'">Buy Now</button>
                </div>
                <div class="CruddyButtys">
                    <a asp-page="./Edit" asp-route-id="@car.CarID" class="crud_but">Edit</a>
                    <a asp-page="./Details" asp-route-id="@car.CarID" class="crud_but">Details</a>
                    <a asp-page="./Delete" asp-route-id="@car.CarID" class="crud_but">Delete</a>
                </div>

            </div>
        </div>
    }
</div>